.class-with-variants {
  background-color: rgba(20, 255, 127, 0.3);
  padding: 1em 0.5em;
  border-radius: 3px;
}

.class-with-variants .item-list ul,
.class-with-variants .item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.class-with-variants .item-list ul li {
  margin: 0.25em 0 0.25em 1.5em;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 0.5em 0.75em;
}

.class-with-variants h5:first-child {
  margin-top: 0;
}
